<!DOCTYPE html>
<html lang="en" class="bg-gray-200">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= locals.title || "nomadsland" %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" href="/images/nomad.jpg">
</head>

<body>

    <nav class="navbar fixed-top navbar-success" style="background-color: #fff;"">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/images/nomad.jpg" width="35" height="35"></a>
            <img src="/images/twitter.jpg" width="25" height="25">
            <img src="/images/ig.png" width="25" height="25">
            nomadsland
        </div>
    </nav>