<%- include('partials/header') -%>


  <h2>welcome to<br>
    Nomadsland.
  </h2>
  <h2>travel's single source of truth</h2>
  <h3>we are currently in beta with limited access</h3>
  <div id="container" class="container">
    <form id="login" action="/" method="post">
      <input type="password" id="psw" name="psw" required>
      <button>let me in</button>
    </form>
  </div>
  <img src="images/jimmy-nomad-logo.jpeg" alt="jimmy nomad logo: bearded man walking">
</body>

</html>