<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>nomadsland: login</title>
    <link href="css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1></h1>
    <h1>welcome to<br>nomad's land</h1>
    <img src="images/jimmy-nomad-logo.jpeg" alt="jimmy nomad logo: bearded man walking">

    <div id="login">
        <h1>login</h1>
        <form id="login" action="/login" method="post">
            <input type="text" name="username" placeholder="my username is" class="fields" required><br><br>
            <input type="password" name="psw" placeholder="my password is" class="fields" required><br><br>
            <input type="submit" name="loginButton" value="let me in">
        </form>
    </div>
    <div>
        <h1>
            or<br><a href="/signup">sign up</a><br>
            <a href="javascript:void(0)">login using instagram</a>
        </h1>

    </div>

</body>

</html>