<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nomadsland</title>
  </head>
  <body>
    <img src="images/jimmy-nomad-logo.jpeg" alt="jimmy nomad logo: bearded man walking">
</body>
</html>