<%- include('partials/header') -%>
<br>
<br>
<br>
  <h1 class="text-4xl mb-4">welcome back, <span class="username"><%= username %></span>.</h1>

  
  <div class

  <pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= userProfile %></pre>

<%- include('partials/footer') -%>
