<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>welcome to nomadsland</title>

    <link rel="stylesheet" href="\css\signup.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&display=swap"
        rel="stylesheet">
</head>

<body>

    <div id="promo">
        <p>
            HELP US EXPAND!<BR>
            if you<br>
            1. join<br>
            2. review 10+ locations you've visited within the past 5 years<br>
            3. recruit 3+ more people<br>
            you'll get:<br>
            1. free membership for life<br>
            2. 40% off all gear for life<br>
            3. this shirt<br>
            <img id="tshirt" src="images/tshirt.jpg" alt="tshirt that says i have a tiny penis lol">

        </p>
    </div>
</body>

</html>
