<!DOCTYPE html>
<html lang="en" class="bg-gray-200">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= locals.title || "nomadsland" %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" href="/images/nomad.jpg">
    <link rel="stylesheet" href="\css\style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&display=swap"
        rel="stylesheet">
</head>

<body>


    <nav class="flex items-center justify-between flex-wrap navbar-success" style="background-color: #fff;"">
        <div class=" w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a class="navbar-brand" href="profile"><img src="/images/nomad.jpg" width="35" height="35"></a>
            <a href="https://instagram.com/jimmynomad" target="_blank">
                <img src="/images/ig.png" width="25" height="25"></a>
            <% if (locals.user) { %>
                <a href="/about"
                    class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">about</a>
                <a href="/logout" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">sign
                    out</a>
                <% } else { %>
                    <a href="/about"
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">about</a>
                    <a href="/login" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">sign
                        in</a>
                    <% } %>
        </div>
        </div>
    </nav>
    <div class="welcome">
        <h1>welcome to Nomadsland.</h1>
        <h2>travel's single source of truth.</h2><br>
        <img src="images/home/looking.jpg" class="looker" alt="jimmy nomad overlooking canyon">
    </div>
    <h2>how it works:
        
    </h2>
    <h3>Nomadsland collects + connects you to authentic + interactive travel insights.</h3>
    <div class="mottoBox">
        <div class="mottos">
            <img class="tabs" src="images/home/tabs/elevate.png">
            <p>
                the platform by sharing knowledge</p>
        </div>
        <div class="mottos">
            <img class="tabs" src="images/home/tabs/explore.png">
            <p>
                global insights that inspire adventure
            </p>
        </div>
        <div class="mottos">
            <img class="tabs" src="images/home/tabs/enhance.png">
            <p>
                your travel plans using interactive data</p>
        </div>
        <div class="mottos">
            <img class="tabs" src="images/home/tabs/engage.png">
            <p>
                in communities that pursue interests</p>
        </div>
    </div>

</body>

</html>