
   h1, h3 {    
    margin: 0;
    padding: 0 0;
    text-shadow: 1px 1px 1px #6c7d85;
   }
  

   html {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: large;
    text-align: center;
    
  }
  
  body {
    width: 100%;
  }

  .nomadPicture{
    width: 50%;
  }
  #nomad{
    width: 50%;
  }

  .loveithere{
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #6c7d85;
    color: white;
    vertical-align: auto;
  }
.elevate{
  height: 400px;
  background-image: url('/images/laptop.jpg');
  color: #f47c3c;
  text-shadow: 1px 1px 1px white;
}
.showYouAround{
  color: #9cac8c;
}
.worldKnowledge{
  height: 400px;
  display: block;
  justify-content: center;
  align-items: center;
}
.questions{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itsSimple{
  height: 400px;
  display: block;
  justify-content: center;
  align-items: center;
}
.needYourHelp{
  height: 400px;
  display: block;
  justify-content: center;
  align-items: center;
}

.elevateNow{
  height: 400px;
  display: block;
  justify-content: center;
  align-items: center;
}

.jimmynomad{
    width: 50%;
    text-align: right;
}
.intro{
  width: 100%;
  display: flex;
}