
   h1 {    
    margin: 0;
    padding: 0 0;
    text-shadow: 1px 1px 1px grey;
   }
  
  html {
    font-size: 16px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: black;
    max-width: 1400;
  }
  
  body {
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    color: black;
    max-width: 1400px;
  
  }

  #nomad{
      max-width:80%;
      height: auto;
      width: auto;
  }

  @media (max-width: 480px) {
    #nomad{
      max-width: 480px;
    }
  }