@font-face {
  font-family: 'messapiabold';
  src: url('/css/fonts/messapia-bold-webfont.woff2') format('woff2'),
       url('/css/fonts/messapia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
   
   
   h1, h3 {
    text-align: center;
   }
  

   html {
    font-weight: bold;
    font-size:larger;
  }


  body {
    font-family: 'messapiabold';
    width: 100%;
    background-color:#d0d2ab ;
    padding: 10px 10px 10px 10px;
  }

  video{
    padding: 10px 10px 10px 10px;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  form{
    text-align: center;
  }

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color:#f47c3c;
  text-decoration: none;
}

.joinButton {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f47c3c;
  background-color: white;
  color: #333333;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #333333;
}

.joinButton:hover {background-color: #9cac8c}

.joinButton:active {
  background-color: #6c7d85;
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
}

@media only screen and (max-width: 700px) {

  video{
    width: 335px;
    height: 335px;
  }

  #nomadPromo{
    max-width: auto;
  }

}

nav {
  margin: 0;
  overflow: hidden;
  max-height: 45px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 6px;
}
nav ul li a {
  display: block;
  text-decoration: none;
}

nav ul li:first-child {
  margin-right: auto;
}