
 h1 {    
  margin: 0;
  padding: 0 0;
  font-size: 50px;
 }


 html {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #333333;
  max-width: 1400;
  
}

body {
  margin: 0 auto;
  border: 5px solid #333333;
  color: white;
  max-width: 1400px;
  padding: 10px 10px 10px 10px;
  background-image: url('/images/profileBackground.jpg');
  background-size: 1440px 990px;

}


.username{
  color:#333333;
}

.stat{
  text-align: center;
}

.helperText{
  font-size: 17px;
}
.userStats{
  display: inline-block;
  font-size:30px;
  text-shadow: 2px 2px 2px #333333;
  padding-left: 10px;
}

.survey{
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

.takeFlight{
  display:inline-block;
  height: 30px;
  width:30px;
  background-image: url('/images/takeFlight.png');
  background-size: 28px 28px;
  background-repeat: repeat-n;
}

nav{
  font-size: 20px;
  color: white;
}

#destination{
  width: auto;
}