@font-face {
  font-family: 'messapiabold';
  src: url('/css/fonts/messapia-bold-webfont.woff2') format('woff2'),
       url('/css/fonts/messapia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
 
 h1 {    
  margin: 0;
  padding: 0 0;
  font-size: 50px;
 }


 html {
  
  background-color: #333333;
  max-width: 1400;
  
}

body {
  font-family: 'messapiabold';
  margin: 0 auto;
  border: 5px solid #333333;
  color: white;
  max-width: 1400px;
  padding: 10px 10px 10px 10px;
  background-image: url('/images/profileBackground.jpg');
  background-size: 1440px 990px;
  background-attachment: fixed;
  background-repeat: repeat-n;

}


.username{
  color:#333333;
}

.stat{
  text-align: center;
}

.helperText{
  font-size: 17px;
}
.userStats{
  display: inline-block;
  font-size:30px;
  padding-left: 10px;
}

.survey{
  display: inline-block;
  text-align: center;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.takeFlight{
  display: block;
  text-align: center;
  height: 30px;
  width:30px;
  background-image: url('/images/takeFlight.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
nav{
  font-size: 18px;
  color: white;
}

#destination{
  width: auto;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color:#f47c3c;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  body{
    font-size: 20px;
    max-width: 100%;
    height: auto;
    background-image: url('/images/profileBackground.jpg');
    background-size: auto 100%;
    background-attachment: fixed;
  }
  h1{
    text-align: center;
    font-size: 22px;
  }
  #pac-input{
    max-width: 100%;
  }
}