
 h1 {    
    margin: 0;
    padding: 0 0;
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-size: 50px;
  }
  
  html {
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: white;
    max-width: 1400;
    
  }
  
  body {
    margin: 0 auto;
    background-color:#f47c3c;
    border: 5px solid #333333;
    color: white;
    max-width: 1400px;
    padding: 10px 10px 10px 10px;
    background-image: url('/images/surveyBackground.jpg');
    background-size: auto 100%;
    background-attachment: fixed;
    background-repeat: repeat-n;
  
  }

  .survey, h1,h3, container{
    text-shadow: 1px 1px 1px #333333;
    text-align: center;
  }


  p{
    font-size: 20px;
  }
  nav{
    font-size: 20px;
    color: white;
  }

  .place{
    color: #6c7d85;
  }

  .containter{
    text-align: center;
  }