html {
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: white;
    display: block;
    background-color:black;
  }
h{
  text-shadow: 1px 1px 1px grey;
}
p{
  font-size: 20px;
}


body {
    max-width: 600px;
    margin: auto;
    background-color: white;
    border: 5px solid black;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 600px;
  }

  div{
    line-height: 85%;
  }