
 h1 {    
  margin: 0;
  padding: 0 0;
  color: black;
  text-shadow: 1px 1px 1px grey;
}
h2 {    
  margin: 0;
  padding: 0 0;
  color: black;
  text-shadow: 1px 1px 1px grey;
}

html {
  font-size: 16px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: black;
  max-width: 1400;
  text-shadow: 1px 1px 1px grey;
}

body {
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  color: black;
  max-width: 1400px;

}

.mottos{
  text-align: left;
  align-content:center;
  padding: 25px;
  display:inline-block;
  max-width:240px;
}

.mottoBox{
  display:block;
  align-content:center;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;
  margin-left:auto;
  margin-right:auto;
}

.looker{
  display: block;
  margin: 0 auto;
max-width: 50%;
height:auto;
  margin-left:auto;
  margin-right:auto;
}

.welcome{
  display: block;
  margin: 0 auto;
  margin-left:auto;
  margin-right:auto;
  font-size: 20 px;
}

.username{
  color:coral;
}

.tabs{
  max-width: 240px;
  max-height: auto;
}

.welcome{
  text-align: center;
  display:inline-block;
}