
 h1 {    
  margin: 0;
  padding: 0 0;
  color: black;
  text-shadow: 1px 1px 1px grey;
  font-size: 50px;
}
h2 {    
  margin: 0;
  padding: 0 0;
  color: black;
  text-shadow: 1px 1px 1px grey;
  font-size:32px;
}

h3{
font-size: 25px;
}

html {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: black;
  max-width: 1400;
  text-shadow: 1px 1px 1px grey;
}

body {
  margin: 0 auto;
  background-color:white;
  border: 5px solid black;
  color: black;
  max-width: 1400px;

}

.mottos{
  padding: 15px;
  display:inline-block;
  max-width:280px;
  margin: 0 auto;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.mottoBox{
  display:block;
  font-size:18px;
  text-align:center;
}

.looker{
  display: block;
  margin: 0 auto;
max-width: 50%;
height:auto;
  margin-left:auto;
  margin-right:auto;
}

.welcome{
  display: block;
  margin: 0 auto;
  margin-left:auto;
  margin-right:auto;
  font-size: 20 px;
  text-align: center;
  display:inline-block;
}

.username{
  color:coral;
}

.tabs{
  max-width: 260px;
  max-height: auto;
  padding-bottom: 10px;
}

p{
  font-size: 11px;
}