@font-face {
  font-family: 'messapiabold';
  src: url('/css/fonts/messapia-bold-webfont.woff2') format('woff2'),
       url('/css/fonts/messapia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

 h1 {    
  margin: 0;
  padding: 0 0;
  color: white;
  text-shadow: 1px 1px 1px #333333;
  font-size: 50px;
}
h2 {    
  margin: 0;
  padding: 0 0;
  color: white;
  text-shadow: 1px 1px 1px #333333;
  font-size:40px;
}

h3{
font-size: 25px;
}

html {
  background-color: #333333;
  max-width: 1400;
  text-shadow: 1px 1px 1px #333333;
}

body {
  font-family: 'messapiabold';
  margin: 0 auto;
  background-color:#f47c3c;
  border: 5px solid #333333;
  color: white;
  max-width: 1400px;
  padding: 10px 10px 10px 10px;

}

.mottos{
  padding: 15px;
  display:inline-block;
  max-width:280px;
  margin: 0 auto;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color:white;
}

.container{
  display:block;
  font-size:18px;
  text-align:center;
  max-width: 100%;
}

.looker{
  display:inline-block;
  margin: 0 auto;
  max-width: 45%;
  height:auto;
}

.welcome{
  display: inline-block;
  margin: 0 auto;
  margin-left:auto;
  margin-right:auto;
  font-size: 20 px;
  text-align: center;
  display:inline-block;
}

.welcomeMessage{
  max-width: 45%;
  display: inline-block;
  padding: 25px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.tabs{
  max-width: 260px;
  max-height: auto;
  padding-bottom: 10px;
}

p{
  font-size: 11px;
}

.joinButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f47c3c;
  background-color: white;
  color: #333333;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #333333;
}

.joinButton:hover {background-color: #9cac8c}

.joinButton:active {
  background-color: #6c7d85;
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
}

nav{
  font-size: 20px;
  color: white;
}

a{
  color: white;
}