@font-face {
  font-family: 'messapiabold';
  src: url('/css/fonts/messapia-bold-webfont.woff2') format('woff2'),
       url('/css/fonts/messapia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

 h1 {    
    margin: 0;
    padding: 0 0;
    color: white;
    font-size: 50px;
  }
  
  html {
    
    background-color: #6c7d85;
    max-width: 1400;
    
  }
  
  body {
    font-family: 'messapiabold';
    margin: 0 auto;
    background-color:#f47c3c;
    border: 5px solid #333333;
    color: white;
    max-width: 1400px;
    padding: 10px 10px 10px 10px;
    background-image: url('/images/surveyBackground.jpg');
    background-size: auto 100%;
    background-attachment: fixed;
    background-repeat: repeat-n;
  
  }

  .survey, h1{
    text-align: center;
  }


  p{
    font-size: 20px;
  }
  nav{
    font-size: 20px;
    color: white;
  }

  .place{
    color: #6c7d85;
  }

  a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color:#333333;
    text-decoration: none;
  }
  .recList{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  
@media only screen and (max-width: 700px) {
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 16px;;
  }
  body{
    background-image: url('/images/surveyBackground.jpg');
    background-size: auto 100%;
    background-attachment: scroll;
  }
}