@font-face {
  font-family: 'messapiabold';
  src: url('/css/fonts/messapia-bold-webfont.woff2') format('woff2'),
       url('/css/fonts/messapia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

 h1 {    
    margin: 0;
    padding: 0 0;
    color: white;
    font-size: 50px;
  }
  
  html {
    
    background-color: #333333;
    max-width: 1400;
    
  }
  body {
    font-family: 'messapiabold';
    margin: 0 auto;
    background-color:#f47c3c;
    color: white;
    max-width: 1400px;
    padding: 10px 10px 10px 10px;
    background-image: url('/images/surveyBackground.jpg');
    background-size: auto 100%;
    background-attachment: fixed;
    background-repeat: repeat-n;
  
  }

  .survey, h1{
    text-align: center;
  }


  p{
    font-size: 20px;
  }
  nav{
    font-size: 20px;
    color: white;
  }

  .place{
    color: #84d3eb;
  }

  a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color:#333333;
    text-decoration: none;
  }
  .recList{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 75%;
  /* The width is the width of the web page */
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

label{
  padding-left: 2px;
  padding-right: 2px;;
}
  
@media only screen and (max-width: 700px) {
  h1{
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  html{
    background-color: #f47c3c;
  }
  h2{
    font-size: 16px;
  }
  body{
    background-image: url('/images/surveyBackground.jpg');
    background-size: auto 100%;
    background-attachment: scroll;
    height: 100%;
    width: auto;
  }

  .survey{
    height: auto;
  }

  nav{
    font-size: 18px;
  }

  #map {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
}

div[id="activityTagDiv"]{
  max-width: 90%;
}
div[id="foodTagDiv"]{
  max-width: 90%;
}
div[name="sightTagDiv"]{
  max-width: 90%;
}

#tips{
  text-align: center;

}


#standout{
  color: #333333;
}

#tipLocation{
  color: #84d3eb;
}

h4{
  color: #84d3eb;
}

nav {
  margin: 0;
  overflow: hidden;
  max-height: 45px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 6px;
  margin: auto 0;
}
nav ul li a {
  display: block;
  text-decoration: none;
}

nav ul li:first-child {
  margin-right: auto;
}

#returnButton{
  text-align: center;
}