body{
    margin: 0 auto;
    max-width: 1400px;
}

/* for all screens, use 14px font size */
body {  
    font-size: 14px;    
}
/* responsive, form small screens, use 13px font size */
@media (max-width: 480px) {
    body{
        max-width: 480px;
    }
}